<template name="ImageContainer">
	<div class="image-container">
		<div class='img-container col-md-{{colMd}} col-sm-{{colSm}} col-xs-6'>
			<div class='row'>
				<div class='col-xs-12'><img class='img' src="/products/{{add_ page}}/thumbs/{{math img_id '+' 1}}.jpg"></div>
				<!-- <div class='col-xs-6'>
					<div class='product-name'>{{title}}</div>
					<div>
						<a href="mailto:hello@meba.bh?Subject=Inquiry:%20{{encodeURI title}}&
						body={{encodeURI 'Hello, \n\n We are looking to inquire about '}}
						{{encodeURI page}}:%20{{encodeURI title}}.
						{{encodeURI '\n\n Sincerely, \n\n <YOUR NAME>'}}">
							Inquire</a>
						</div>
					</div>
				</div> -->
			</div>
		</div>
	</div>
</template>
