/*****************************************************************************/
/* ImageContainer: Style */
/*****************************************************************************/
.image-container {
	.img-container {
		padding: 1em;
		.img {
			width: 100%;
			max-width: 150px;
		}
		.product-name {
			border-bottom: dashed 1px grey;
		}
	}
}
