<template name="ChemicalDivision">
	<div class='chemical-division row'>
		<div class="col-md-6 col-md-offset-3 profile">
			<div>
				<h2 class='title-content-page'>{{subsection_name}}</h2>
			</div>
			<div>
				<div class='lead'>
					MEBA Chemical Division was established to service the Oil &amp; Gas sector and other industrial sectors in
					the GCC region as part of offering a complete package to our clients in parallel to our Foundry Division.
				</div>
				<ul>
					<li>State of the art Toll-Blending facility with production capacity up to 90,000 Liters per day.</li>
					<li>Ability to perform Liquid-Liquid blending as well as Solid-Liquid blending</li>
					<li>Various tank types and coatings to accommodate for various types of chemicals blending and storage</li>
					<li>Packing and labeling as per client requirement (Steel drums, Plastic drums, IBCs... etc)</li>
					<li>In house QC/QA laboratory to always insure highest of standards.</li>
					<li>QA certificate issued for every batch</li>
					<li>The MEBA Chemical Division is approved by/supplying to major Oil companies and service companies in the GCC region.</li>
				</ul>
				
				<div class="lead">Product Range</div>
				<div>The MEBA Chemical Division product list includes, but is <strong><i>not</i></strong> limited, to the following</div>
				<ul>
					<li>Wellbore clean up chemicals</li>
					<li>Simulation chemicals</li>
					<li>Drilling chemicals</li>
					<li>Heavy duty degreasers (HDD)</li>
					<li>Water treatment chemicals</li>
					<li>Commodity chemicals and commodity chemicals solution such as:</li>
					<ul>
						<li>Caustic Soda 49-50%</li>
						<li>Sodium Bisulfite 30%</li>
						<li>Sodium Hypochlorite 12%</li>
						<li>Hydrochloric Acid 30%, 15%</li>
						<li>Sodium Chlorite 30-31%</li>
						<li>Potassium Chloride 45%</li>
						<li>Sulfuric Acid 98%, 50%, 20%</li>
						<li>HEDP 60%</li>
						<li>EDTA 40%</li>
						<li>Citric Acid 50%</li>
						<li>BAC 80%, 60%, 50%</li>
					</ul>
				</ul>
			</div>
		</div>
	</div>
</template>
