<template name="ChemicalDivision">
	<div class='chemical-division row'>
		<div class="col-md-6 col-md-offset-3 profile">
			<div>
				<h2 class='title-content-page'>{{subsection_name}}</h2>
			</div>
			<div>
				<div class='lead'>
					­With a modern toll blending facility, in-house quality control lab, and various types of storage facilities, MEBA is able to offer the oil sector a wide range of chemicals complementing its foundry division product lines, and fulfill end user’s various requirements.
				</div>

				<ul>
					<li>State of the art Toll-Blending facility with production capacity up to 90,000 Liters per day.</li>
					<li>Ability to perform Liquid-Liquid blending as well as Solid-Liquid blending</li>
					<li>Various tank types and coatings to accommodate for various types of chemic­als blending and storage</li>
					<li>Packing and labeling as per client requirement (Steel drums, Plastic drums, IBCs... etc)</li>
					<li>In house QC/QA laboratory to always insure highest of standards.</li>
					<li>QA certificate issued for every batch</li>
					<li>The MEBA Chemical Division is approved by/supplying to major Oil companies and service companies in the GCC region</li>
				</ul>

				<div>
					Understanding the nature and geology of the GCC region, MEBA’s highly trained technical staff were able to custom tailor a wide range of specialty chemicals to cater for every end user’s need.
				</div>
				<br>
				<div>
					MEBA’s product range includes chemicals covering multiple categories serving both upstream and downstream operations such as production chemicals, simulation chemicals, wellbore cleanup chemicals, fuel additives, and many more.
				</div>
				<br>
				<div>
					Understanding the importance of Asset protection, MEBA’s number one focus have always been scale and corrosion removers and inhibitors. Constantly working side by side with end users. Custom-made inhibitors are produced to help solve individual cases. In order to complement its Asset protection product line, MEBA started the production of heavy-duty metal degreasers and protectors.
				</div>
				<br>
				<div>
					With the environment always on its mind, the majority of MEBA’s specialty chemicals are environment friendly and biodegradable, making them the optimum solution for both onshore and offshore operations
				</div>
				<br>
				<div>
					To further complement its wide product line, MEBA initiated the supply of various commodity chemicals, drilling additives, jetting additives, and water treatment chemicals.
				</div>
				<br>
				<div>
					Well Bore Clean up Chemicals:
					<ul>
						<li>Pipe clearing solvents</li>
						<li>Pipe dope solvents</li>
						<li>Heave duty degreaser (Tank Cleaning, Facility cleaning, Onshore/Offshore degradable/environment friendly)</li>
						<li>Pipe surface activator / carrier (Bio degradable)</li>
						<li>Wetting agent / flushing agent / pipe & casing protector</li>
						<li>Iron sulfide & Amorphic Iron scale remover</li>
						<li>Water & Oil based mud remover </li>
					</ul>
				</div>

				<div>
					Production & Simulation Inhibitors:
					<ul>
						<li>Corrosion Inhibitors (for Gas lines & Oil Lines)</li>
						<li>Scale Inhibitors (for gas line & Oil line)</li>
						<li>Vanadium Inhibitor</li>
						<li>Scale remover/dissolver (removes carbonates, polymers, scales, emulsion braking, deoiling)</li>
						<li>Sulfide scale remover (special to target acid non soluble scales & chelating resistant scales)</li>
						<li>Scavengers (Oxygen scavengers & Sulfur scavengers)</li>
						<li>Demulsifier (Regular or Semi-Bio)</li>
						<li>Emulsifier</li>
						<li>Water injection corrosion inhibitor</li>
						<li>Surfactants</li>
						<li>Viscosity improvers / Viscofiers</li>
					</ul>
				</div>

				<div>
					Multi purpose additives
					<ul>
						<li>Demulsifier (Regular or Semi-Bio)</li>
						<li>Diesel Improver (Regular or Semi-Bio)</li>
						<li>Gasoline Improver (Regular or Semi-Bio)</li>
						<li>Octane Booster (Regular or Semi-Bio)</li>
						<li>Cetane Booster (Regular or Semi-Bio)</li>
						<li>Engine Oil improver</li>
					</ul>
				</div>

				<div>
					Miscellaneous:
					<ul>
						<li>Fire retardant paint/coat for steel structures</li>
						<li>Base Oils</li>
						<li>White spirits</li>
						<li>Specialty oils</li>
						<li>Drilling additives</li>
						<li>Commodity chemicals</li>
						<li>Water treatment chemicals (softeners, Oxygen scavengers, boilers scale & Corrosion inhibitors, chelating agents.. etc)</li>
					</ul>
				</div>

			</div>
		</div>
	</div>
</template>
