<template name="MasterLayout">
	{{#if sideMenuToggle}}
		{{> SideMenu}}
	{{/if}}

	<div class='master-yield container-fluid' style='{{#if routeIs "/"}}background-color: grey{{/if}}'>
		<nav>
			<a href="/">
				<img src="/meba.png" id='MEBALogo' class='{{#if routeIs "/"}}navTrig{{/if}}'>
			</a>
			<div id='nav-links-container'>
				<div id='products-profile-container'>
					<a class='nav-link navTrig'><i class='fa fa-bars'></i>Products & Profile</a>
				</div>
				<div id='container-link-container'>
					<a class='nav-link' id='contact-trigger' data-toggle="modal" data-target="#contact-modal">
						<i class='fa fa-pencil-square-o'></i>contact</a>
				</div>
				<div id='container-link-container'>
					<a class='nav-link' href="/news"><i class='fa fa-newspaper-o'></i>News</a>
				</div>
				<div id='container-link-container'>
					<a class='nav-link' href="tel: +973-1783 0707"><i class='fa fa-phone'></i>+973-1783 0707</a>
				</div>
			</div>
		</nav>
		{{> Template.dynamic template=main}}
		{{> ContactUs}}
		<div class='row footer'>
			<div><span>Metals of Bahrain © {{this_year}}.</span> <span>Kingdom of Bahrain</span><img src='/BahrainIcon.png' style='width: 20px'/></div>
			<div>Made by <a href='https://ca.linkedin.com/in/fayadhalmosawi' style='opacity: 0.5' target='_blank'>Fayadh al-Mosawi</a></div>
		</div>
	</div>
</template>
