nav {
	padding: 1em;
	font-size: 1.618em;
	.nav-link {
		display: inline-block;
		text-transform: uppercase;
		letter-spacing: 4px;
		padding: 0 1em 0 1em;
		font-size: medium;
		color: grey;
		transition: color 0.5s;
		&:hover {
			color: white;
		}
	}
	
	#MEBALogo {
		width: 180px;
	}
	#products-profile-container {
		display: inline-block;
		margin: auto;
		a {
			display: inline-block;
		}
	}
	#container-link-container {
		display: inline-block;
	}
}

a {
	text-decoration: none;
	color: black;
	&:hover {
		text-decoration: none;
	}
	&:visited {
		text-decoration: none;
	}
}



