<template name="QualityControl">
	<div class="quality-control">
		<div class="col-md-6 col-md-offset-3">
			<div>
				<h2 class='title-content-page'>{{subsection_name}}</h2>
			</div>
			<div class='carousel'>
				{{#each images}}
					<img src='/profile/{{add_ subsection_name}}/{{math @index "+" 1}}.jpg'>
				{{/each}}
			</div>
			<div>
				<div class='lead'>
					Quality control, or QC for short, is a process by which entities review the quality of all 
					factors involved in production.
				</div>
				
				Controls include product inspection, where every product is examined visually, and often using a 
				stereo microscope for fine detail before the product is supplied to customer. <br><br>
				
				Quality control emphasizes testing of products to uncover defects and reporting to management who make 
				the decision to allow or deny product release, whereas quality assurance attempts to improve and 
				stabilize production (and associated processes) to avoid, or at least minimize, issues which led 
				to the defect(s) in the first place <br><br>
        	
				Our QC department is well equipped with the following equipment: <br><br>
        	
				ARL Spectrometer <br>
				Arun Spectrometer <br>
				Non Destructive Testing (NDT) <br>
				Tensile Testing <br>
				Hardness Testing <br>
				Impact Testing <br>
				Microstructure Examination <br>
				Die penetrant Test ( DPT ) <br>
				Magnetic Particle inspection (MPI) <br>
				Ultrasound testing ( UT ) <br>
				Sand Lab <br>
			</div>
		</div>
	</div>
</template>
