<template name="Alloys">
	<div class="alloys">
		<div class='col-md-6 col-md-offset-3'>
			<div>
				<h2 class='title-content-page'>{{subsection_name}}</h2>
			</div>
			<div class='page-container'>
				<div class='lead'>
					At MEBA, we produce engineered ferrous and non-ferrous castings and components for the industrial community 
					around the world. Manufacturers of pumps, valves, hydraulic power transmission and water line fittings have been 
					our trade partners for the last 17 years. In 2003, MEBA launched its latest production line for casting bronze and 
					steel alloys. The no-bake casting line uses the latest technology for metal casting and analysis.
				</div>
				<table>
					<tr>
						<td class="leadtd">Corrosion Resistant (Stainless Steels)</td>
						<td>
							SS304/304L (ASTM A743 CF8/CF3)<br>
							SS316/ 316L (ASTM A743 CF8M/CF3M)<br>
							SS410 & 420 (ASTM A487 CA15)<br>
							Duplex Steel & Super duplex steel<br>
						</td>
					</tr>
					<tr>
						<td class="leadtd">Heat Resistant steels</td>
						<td>
							High Cr & Ni steels (ASTM A297, HH,HI,HK) <br>
						</td>
					</tr>
					<tr>
						<td class="leadtd">Wear Resistant steels</td>
						<td>
							Manganese steel<br>
							Chrome iron<br>
							Ni-Hard<br>
							Nitronic 50/60<br>
						</td>
					</tr>
					<tr>
						<td class="leadtd">Aluminum Base</td>
						<td>
							Alloy LM-4, LM-6, etc.
						</td>
					</tr>
					<tr>
						<td class="leadtd">Other steels</td>
						<td>
							Various grades of Carbon steel and low alloy steel
						</td>
					</tr>
					<tr>
						<td class="leadtd">Cast irons</td>
						<td>
							Gray cast iron (ASTM A48) <br>
							Ductile cast iron (ASTM A536) <br>
							Ni-Resist (Austenitic ductile iron ASTM A439) <br>
							Ductile Ni-resist (Austenitic ductile iron ASTM A439) <br>
						</td>
					</tr>
					<tr>
						<td class="leadtd">Copper Base (Bronze)</td>
						<td>
							Phosphor bronze <br>
							Tin bronze <br>
							Leaded Tin bronze <br>
							Aluminum bronze <br>
							Ni-Aluminum bronze <br>
						</td>
					</tr>
				</table>
			
				<hr>
			
				<div>
					<h3>Alloys Range</h3>
					<div>
						<table>
							<tr>
								<td class="leadtd">Cast Iron</td>		
								<td>Gray Iron (FG Iron) various grades. Ductile iron (SG Iron) of various grades with Ferrite and pear lite structure-Ni-hard, Hi-Chrome Iron</td>
							</tr>
							<tr>
								<td class="leadtd">Copper Base</td>	
								<td>LG2 BS1400 , Nickel Al Bronze (AB1, AB2) Phosphorous Bronze (PB1, PB2), Leaded Bronze (LB2, LB4, LBC3)</td>
							</tr>
							<tr>
								<td class="leadtd">Stainless Steels / Duplex / Super Duplex(Corrosion and heat Resist)</td>		
								<td>Stainless 304-316-316L, Duplex – 2205, 2507, ASTM 890 3A, 4A, 5A Heat Resist Steel (ASTM 297-HK, HL, HE)</td>
							</tr>
							<tr>
								<td class="leadtd">Carbon Steel / Low Alloy Steel</td>		
								<td>ASTM A 216 WCA, WCB, WCC.ASTM 732 1 A, 2A, 2Q, 3A,3Q, 7Q, 8Q</td>
							</tr>
							<tr>
								<td class="leadtd">Manganese Steel(Impact and Wear Resist)</td>		
								<td>ASTM128 (Grade A, B, C, D)</td>
							</tr>
						</table>
					</div>
				</div>
			
				<hr>
			
				<div>
					<h3>Applications</h3>
					<div class='list'>
						<div><i class="fa fa-cog"></i>Pump parts</div>
						<div><i class="fa fa-cog"></i>Valve components</div>
						<div><i class="fa fa-cog"></i>Crusher parts</div>
						<div><i class="fa fa-cog"></i>Oilfield consumable</div>
						<div><i class="fa fa-cog"></i>Maintenance spare parts</div>
						<div><i class="fa fa-cog"></i>Pressure and corrosion resisting components</div>
						<div><i class="fa fa-cog"></i>Smelter replacement parts</div>
						<div><i class="fa fa-cog"></i>Fittings (flanges, bends and tees)</div>
						<div><i class="fa fa-cog"></i>Bushes (bronze and stainless)</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
