<template name="Alloys">
	<div class="alloys">
		<div class='col-md-6 col-md-offset-3'>
			<div>
				At MEBA, we produce engineered ferrous and non-ferrous castings and components for the industrial community 
				around the world. Manufacturers of pumps, valves, hydraulic power transmission and water line fittings have been 
				our trade partners for the last 17 years. In 2003, MEBA launched its latest production line for casting bronze and 
				steel alloys. The no-bake casting line uses the latest technology for metal casting and analysis.
			</div>
			<table>
				<tr>
					<td>Corrosion Resistant (Stainless Steels)</td>
					<td>
						SS304/304L (ASTM A743 CF8/CF3)<br>
						SS316/ 316L (ASTM A743 CF8M/CF3M)<br>
						SS410 & 420 (ASTM A487 CA15)<br>
						Duplex Steel & Super duplex steel<br>
					</td>
				</tr>
				<tr>
					<td>Heat Resistant steels</td>
					<td>
						High Cr & Ni steels (ASTM A297, HH,HI,HK) <br>
					</td>
				</tr>
				<tr>
					<td>Wear Resistant steels</td>
					<td>
						Manganese steel<br>
						Chrome iron<br>
						Ni-Hard<br>
						Nitronic 50/60<br>
					</td>
				</tr>
				<tr>
					<td>Aluminum Base</td>
					<td>
						Alloy LM-4, LM-6, etc.
					</td>
				</tr>
				<tr>
					<td>Other steels</td>
					<td>
						Various grades of Carbon steel and low alloy steel
					</td>
				</tr>
				<tr>
					<td>Cast irons</td>
					<td>
						Gray cast iron (ASTM A48) <br>
						Ductile cast iron (ASTM A536) <br>
						Ni-Resist (Austenitic ductile iron ASTM A439) <br>
						Ductile Ni-resist (Austenitic ductile iron ASTM A439) <br>
					</td>
				</tr>
				<tr>
					<td>Copper Base (Bronze)</td>
					<td>
						Phosphor bronze <br>
						Tin bronze <br>
						Leaded Tin bronze <br>
						Aluminum bronze <br>
						Ni-Aluminum bronze <br>
					</td>
				</tr>
			</table>
		</div>
	</div>
</template>
