<template name="AluminumBased">
	<div class="aluminum-based">
		<div>
			<h2 class='title-content-page'>{{subsection_name}}</h2>
		</div>
		<div class='images-for'>
		</div>
		<div class='images-nav'>
			<div><img src="/products/aluminum-based-products/thumbs/1.jpg"></div>
			<div><img src="/products/aluminum-based-products/thumbs/2.jpg"></div>
			<div><img src="/products/aluminum-based-products/thumbs/3.jpg"></div>
			<div><img src="/products/aluminum-based-products/thumbs/4.jpg"></div>
			<div><img src="/products/aluminum-based-products/thumbs/5.jpg"></div>
			<div><img src="/products/aluminum-based-products/thumbs/6.jpg"></div>
		</div>
	</div>
</template>
