<template name="ToolRoomAndPatternShop">
	<div class="tool-room-and-pattern-shop">
		<div class="col-md-6 col-md-offset-3">
			<h3>Tool Room & Pattern Shop</h3>

			In a Foundry, pattern is a replica of the object to be cast, used to prepare the cavity into which molten 
			material will be poured during the casting process.<br><br>

			Patterns used in sand casting may be made of wood, metal, plastics or other materials. Patterns are made 
			to exacting standards of construction, so that they can last for a reasonable length of time, according 
			to the quality grade of the pattern being built, and so that they will repeatably provide a dimensionally 
			acceptable casting.<br><br>

			1. CAD/CAM Designing / Execution <br>
			2. CNC Routers <br>
			3. Planer Machine <br>
			4. Polystyrene Patterns <br>
			5. Wooden Patterns <br>
			6. Aluminum Patterns <br>
			7. Resin Board Patterns <br>
		</div>
	</div>
</template>
