<template name="Foundry">
	<div class="foundry row">
		<div class="col-md-6 col-md-offset-3 profile">
			<div>
				<h2 class='title-content-page'>{{subsection_name}}</h2>
			</div>
			<div class='carousel'>
				{{#each images}}
					<img src='/profile/{{add_ subsection_name}}/{{math @index "+" 1}}.jpg'>
				{{/each}}
			</div>
			<div>
				<div class='lead'>
				MEBA’s foundry produces various metal castings. We specialise in common metals processing including aluminium 
				and cast iron. However, we do use other metals as well, such as bronze, brass, steel, magnesium, and zinc to 
				produce castings in our foundry. We can form virtually any shape and size.
				</div>

				1. Melting <br>
				2. Dual Track 750 Kw Induction Furnace with 1000kgs capacity <br>
				3. Dual Track 175 Kw Induction Furnace with 250kgs capacity <br>
				4. Single Track  95 Kw Induction Furnace with 100kgs capacity <br>
				5. Self Set Molding (No Bake Sand System) <br>
				6. Sand Reclamation <br>
				7. Continuous Mixer  (20MT/Hr and 10MT/Hr) <br>
				8. Automatic Cold Box Core Making <br>
				9. Shot Blast Chamber <br>
				10. Fettling and Finishing <br>
				11. Pneumatic Glass Beads Blast <br>
			</div>
		</div>
	</div>
</template>
