<template name = "CentrifugalCasting">
	<div class='centrifugal-casting'>
		<div class="col-md-6 col-md-offset-3">
			<h4>Centrifugal Casting</h4>
			Centrifugal casting or rotocasting is a casting technique that is typically used to cast thin-walled cylinders. 
			It is noted for the high quality of the results attainable, particularly for precise control of their metallurgy 
			and crystal structure. Unlike most other casting techniques, centrifugal casting is chiefly used to manufacture 
			stock materials in standard sizes for further machining, rather than shaped parts tailored to a particular end-use.<br><br>

			MEBA has ability to produce:<br><br>

			Centrifugally Cast Hollow Bars & Flanges<br><br>

			Standard Sizes:
			<table>
				<tr>
					<td>Outer Diameter</td>
					<td>150-325mm</td>
					<td>550-600mm</td>
				</tr>
				<tr>
					<td>Thickness</td>
					<td>8mm Min</td>
					<td>8mm Min</td>
				</tr>
				<tr>
					<td>Length</td>
					<td>1200mm Max</td>
					<td>600mm Max</td>
				</tr>
			</table>
			<h5> Custom sizes can also be made upon request. </h5>
		</div>
	</div>
</template>
