/*****************************************************************************/
/* ContactUs: Style */
/*****************************************************************************/
.contact-us {
	.p2 {
		padding: 1em 2em;
	}
	i {
		margin: 0 0.5em;
	}
	.fa-mobile-phone {
	    font-size: 15px;
	    margin: 0 0.73em;
	}
	a {
		color: royalblue;
		&:hover {
			color: purple;
		};
		&:visited {
			color: grey;
		};
		
	}
	.modal-title {
		text-transform: uppercase;
		letter-spacing: 4px;
		padding: 0.66em;
		text-align: center;
		color: silver;
	}
	#btn-close {
	    text-transform: uppercase;
	    letter-spacing: 0.25em;
	    color: grey;
		transition: color 0.5s;
		display: block;
		margin: auto;
		width: 100%;
		max-width: 250px;
		&:hover {
			background-color: white;
			color: black;
		};
	}
	#bhicon {
		display: inline-block;
		height: 15px;
		border: solid silver 1px;
		border-right: none;
	}
	.close {
		color: purple;
		opacity: 1;
	}
}
