<template name="ContactUs">
	<div class="contact-us row">
		<div id="contact-modal" class="modal fade" role="dialog">
			<div class="modal-dialog">
				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Contacting MEBA</h4>
					</div>
					<div class="modal-body">
						<div class='row'>
							<div class='row'>
								<div class='col-md-12'>
									<div class='p2'>
										Metals of Bahrain<br>
										P.O. Box 54299<br>
										Manama, Kingdom of Bahrain <img src='/bh.svg' id='bhicon'><br>
									</div>
								</div>
							</div>
							<div class='row'>
								<div class='col-md-6'>
									<div class='p2'>
										<strong>Location address:</strong><br><br>
										Building 1499, Road 5140<br>
										Asker 951, Kingdom of Bahrain<br>
										<div class='p1v'>
											<a href='https://www.google.com.bh/maps/place/Metals+of+Bahrain/@26.076318,50.605079,15z/data=!4m2!3m1!1s0x0:0x5324f2fe3e14fc64'>
												Show Me On Google Maps <i class="fa fa-map-marker"></i></a>
										</div>
									</div>
								</div>
								<div class='col-md-6'>
									<div class='p2'>
										<i class="fa fa-mobile-phone"></i> 		Phone: <a href="tel: +973-1783 0707">+973-1783 0707</a><br>
										<i class="fa fa-fax"></i> 				Fax: +973-1783 0004<br>
										<i class="fa fa-paper-plane-o"></i> 	<a href="mailto:hello@meba.bh?Subject=Inquiry&
										body={{encodeURI 'Hello, \n\n We are looking to inquire about <INSERT PRODUCT HERE>. \n\n Sincerely, \n\n <YOUR NAME>'}}">
										hello@meba.bh</a>
										<br>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" id='btn-close' data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
