<template name="Home">
	<div class="home">
		<video autoplay loop muted>
			<!-- <source src="/meba.webm" type="video/webm"> -->
				<source src="/meba480p.mp4" type="video/mp4">
				</video>
				<div class='row'>
					<div class='col-md-4'>
						<div id='meba-summary' class='cont'>
							<div class='inner-cont'>
								<h3 class='title-capital'>Metals of Bahrain</h3>
								Metals of Bahrain [MEBA] is a modern module industrial center established in Bahrain in 1992.
								Its mission was to produce engineered ferrous and nonferrous castings and components for the 
								industrial community around the world.<br><br>
								
								Manufacturers of pumps, valves, hydraulic power transmission, water line fittings and others
								have been MEBA’s trade partners for the last 17 years.<br><br>
								
								In 2003 MEBA launched its latest production line for casting bronze and steel alloys. 
								The no‐bake casting line uses the latest technology for metal casting and analysis.<br><br>
								
								<div id='trigger-youtube-container'>
									<a id='trigger-youtube' class='p1v'>
										<i class='fa fa-youtube-play fa-lg'></i>
										Watch Video
									</a>
								</div>
							</div>
						</div>
					</div>
					<div class='col-md-8' id='products-profile'>
						<div class='col-md-6'>
							<div class='cont'>
								<h3 class='title-capital'>Products</h3>
								<div><a href="/products/alloys">Alloys</a></div>
								<div><a href="/products/aluminum_based">Aluminum Based</a></div>
								<div><a href="/products/cement_and_crusher">Cement & Crusher</a></div>
								<div><a href="/products/copper_based">Copper Based</a></div>
								<div><a href="/products/drainage">Drainage</a></div>
								<div><a href="/products/machined_parts">Machined Parts</a></div>
								<div><a href="/products/oil_field_consumable_parts">Oil Field Consumable Parts</a></div>
								<div><a href="/products/pump_parts">Pump Parts</a></div>
								<div><a href="/products/steel_parts_and_smelters">Steel Parts & Smelters</a></div>
							</div>
						</div>
						<div class='col-md-6'>
							<div class='cont'>
								<h3 class='title-capital'>Profile</h3>
								<div><a href="/profile/centrifugal_casting">Centrifugal Casting</a></div>
								<div><a href="/profile/foundry">Foundry</a></div>
								<div><a href="/profile/heat_treatment">Heat Treatment</a></div>
								<div><a href="/profile/machine_shop">Machine Shop</a></div>
								<div><a href="/profile/quality_control">Quality Control</a></div>
								<div><a href="/profile/tool_room_and_pattern_shop">Tool Room & Pattern Shop</a></div>
							</div>
						</div>
					</div>
				</div>
				<div class='row footer'>
					Metals of Bahrain © 2015. Kingdom of Bahrain <img src='/BahrainIcon.png' style='width: 30px'/>
				</div>
			</div>
		</template>
