/*****************************************************************************/
/* Home: Style */
/*****************************************************************************/
.home {
//    background-color: RGBA(128, 128, 128, 0.6);
//    min-height: 84vh; /* Measured. */	
	font-size: 1.33em;
	color: sandybrown;
	
	#products-profile {
		background-color: RGBA(0, 0, 0, 0.25);
	}
	
	.cont {
		div {
			margin: 0.5em 0;
		}
		a {
			color: silver;
			transition: color 0.5s;
			text-transform: uppercase;
			&:hover {
				color: white;
				text-decoration: none;
			};
		}
		.inner-cont {
			display: inline-block;
			background-color: RGBA(0, 0, 0, 0.25);
			color: silver;
			padding: 1em;
		}
	}
	
	#trigger-youtube-container {
	    margin: 2em 0;
	    text-transform: uppercase;
	    letter-spacing: 2px;
		text-align: center;
	}
	
	.footer {
		text-align: center;
		color: RGB(40, 40, 40);
		padding: 1em;
		text-transform: uppercase;
		font-size: 0.7	5em;
	}
	
	/** VIDEO BACKGROUND **/
	video {
		z-index: -10;
	    position: fixed;
	    top: 50%;
	    left: 50%;
	    -webkit-transform: translate(-50%, -50%); /* Safari */
	        -ms-transform: translate(-50%, -50%); /* IE 9 */
	            transform: translate(-50%, -50%); 
	    background-size: cover;
	}

	@media (min-aspect-ratio: 16/9) {
	    video {
	        width: 100%;
	        height: auto;
	    }
	}
	@media (max-aspect-ratio: 16/9) {
	    video {
	        width: auto;
	        height: 100%;
	    }

	}
	/** Phone and Tablet */
	@media screen and (max-device-width: 800px) {
	    //video {
//	        display: none;
//	    }
	    background-size: cover;
        background-position: center;
        height: 100%;
        width: 100%;
	}

	/** END VIDEO BACKGROUND **/
}
