/*****************************************************************************/
/* CentrifugalCasting: Style */
/*****************************************************************************/
.partners {
    .partners-and-major-clients {
        text-align: center;

        li {
            list-style-type: none;
            display: block;
            font-size: 1.68em;
            text-transform: capitalize;
            color: grey;
        }

        img {
            width: 100%;
            max-width: 200px;
            margin: .4em 0;  
        }
    }
}
