<template name="Partners">
	<div class='partners row'>
		<div class="col-md-6 col-md-offset-3 profile">
			<div>
				<div class='partners-and-major-clients'>
					<h2 class='title-content-page'>{{subsection_name}}</h2>
					<ul>
						<img src="/profile/partners/best_pick.jpeg" alt="Best Pick">
						<li>Best Pick LLC</li>
						<hr>
						<img src="/profile/partners/black_diamond_for_natural_gas.jpg" alt="Black Diamond for Natural Gas">
						<li>Black Diamond for Natural Oils</li>
						<hr>
						<img src="/profile/partners/contego_international.png" alt="Contego International">
						<li>Contego International</li>
						<hr>
						<img src="/profile/partners/group_42.png" alt="Group 42">
						<li>Group 42</li>
						<hr>
						<img src="/profile/partners/gfd.jpg" alt="GFD">
						<li>GFD Dubai</li>
						<hr>
						<img src="/profile/partners/nesma.png" alt="NESMA">
						<li>NESMA Holding Co.</li>
						<hr>
						<li>New Cast for Industrial Marketing services</li>
						<hr>
						<img src="/profile/partners/streamline_energy.png" alt="Streamline Energy">
						<li>Streamline Energy</li>
						<hr>
						<img src="/profile/partners/saudi_cast.png" alt="Saudi Cast">
						<li>Saudi Cast</li>
						<hr>
						<img src="/profile/partners/solar_one.png" alt="Solar One">
						<li>Solar One</li>
						<hr>
						<img src="/profile/partners/wellflow.png" alt="Well Flow">
						<li>Well-Flow International</li>
						<hr>
					</ul>
					<h2 class='title-content-page'>Major Clients</h2>
					<ul>
						<img src="/profile/partners/tatweer_petroleum.jpg" alt="Tatweer Petroleum">
						<li>Tatweer Petroleum </li>
						<hr>
						<img src="/profile/partners/bapco.png" alt="Bapco">
						<li>Bapco</li>
						<hr>
						<img src="/profile/partners/alba.jpg" alt="ALBA">
						<li>ALBA</li>
						<hr>
						<img src="/profile/partners/saudi_aramco.png" alt="Saudi Aramco">
						<li>Saudi Aramco</li>
						<hr>
						<img src="/profile/partners/summit_technologies.jpg" alt="Summit Technologies">
						<li>Summit Technologies</li>
						<hr>
						<img src="/profile/partners/nesma.png" alt="NESMA">
						<li>NESMA Trading Company</li>
						<hr>
						<img src="/profile/partners/coretrax.png" alt="Coretrax">
						<li>Coretrax</li>
						<hr>
						<li>Al Khoryef Group</li>
						<hr>
						<img src="/profile/partners/saudi_mechanical_industries.jpg" alt="Saudi Mechnical Industries">
						<li>SMI</li>
						<hr>
						<img src="/profile/partners/flowserve.png" alt="Flowserve">
						<li>Flowserve</li>
						<hr>
						<img src="/profile/partners/saudi_cast.png" alt="Saudi Cast">
						<li>Saudi Cast</li>
						<hr>
						<img src="/profile/partners/sadip.jpg" alt="Sadip">
						<li>SADIP</li>
						<hr>
					</ul>
				</div>
			</div>
		</div>
	</div>
</template>
