<template name="Partners">
	<div class='partners row'>
		<div class="col-md-6 col-md-offset-3 profile">
			<div>
				<h2 class='title-content-page'>{{subsection_name}}</h2>
			</div>
			<div>
				<div class='partners-and-major-clients'>
					<ul>
						<li>Best Pick LLC</li>
						<li>Black Diamond for Natural Oils</li>
						<img src="partners/black_diamond_for_natural_gas.jpg" alt="Black Diamond for Natural Gas">
						<li>Contego International</li>
						<li>Group 42</li>
						<li>GFD Dubai</li>
						<li>NESMA Holding Co.</li>
						<li>New Cast for Industrial Marketing services</li>
						<li>Streamline Energy</li>
						<li>Saudi Cast</li>
						<li>Solar One</li>
						<li>Well-Flow International</li>
					</ul>
					<h2 class='title-content-page'>Major Clients</h2>
					<ul>
						<li>Tatweer Petroleum </li>
						<img src="partners/tatweer_petroleum.jpg" alt="Tatweer Petroleum">
						<li>Bapco</li>
						<img src="partners/bapco.png" alt="Bapco">
						<li>ALBA</li>
						<img src="partners/alba.jpg" alt="ALBA">
						<li>Saudi Aramco</li>
						<img src="partners/saudi_aramco.png" alt="Saudi Aramco">
						<li>Summit Technologies</li>
						<img src="partners/summit_technologies.jpg" alt="Summit Technologies">
						<li>NASMA Trading Company</li>
						<li>Coretrax</li>
						<img src="partners/coretrax.png" alt="Coretrax">
						<li>Al Khoryef Group</li>
						<li>SMI</li>
						<img src="partners/saudi_mechanical_industries.jpg" alt="Saudi Mechnical Industries">
						<li>Flowserve</li>
						<img src="partners/flowserve.png" alt="Flowserve">
						<li>Saudi Cast</li>
						<li>SADIP</li>
						<img src="partners/sadip.jpg" alt="Sadip">
					</ul>
				</div>
			</div>
		</div>
	</div>
</template>
