/*****************************************************************************/
/* CentrifugalCasting: Style */
/*****************************************************************************/
.partners {
    .partners-and-major-clients {
        text-align: center;

        li {
            list-style-type: none;
            display: block;
            font-size: 2em;
            text-transform: capitalize;
            color: grey;
        }

        img {
            max-width: 50vw;
        }
    }
}
