/*****************************************************************************/
/* ProductsDisplay: Style */
/*****************************************************************************/
.products-display {
	.product-name {
		font-size: large;
		font-weight: bold;
		opacity: 0.87;
	}
	.inquire-container {
		margin: 4em;
		padding: 1em;
		text-align: center;
		opacity: 0.66;
	}
}
