<template name="HeatTreatment">
	<div class="heat-treatment">
		<div class="col-md-6 col-md-offset-3">
			<h3>Heat Treatment</h3>
			Heat treating is a group of industrial and metalworking processes used to alter the physical, 
			and sometimes chemical, properties of a material. The most common application is metallurgical. 
			Heat treatment involves the use of heating or chilling, normally to extreme temperatures, to 
			achieve a desired result such as hardening or softening of a material. Heat treatment techniques 
			include annealing, case hardening, precipitation strengthening, tempering and quenching.<br><br>

			MEBA has the following capabilities for the various heat treatment processes:<br><br>

			1. 500 Kg. Capacity: 2 Furnaces
			2. 1500 Kg. Capacity: 2 Furnaces
			3. 3000 Kg. Capacity: 1 Furnace
			4. Fully automatic (loading / unloading / quenching)
			5. Chart Recorder (Heat Treatment cycle)
	
			<h4>Processes</h4>
			<ul>
				<li>Stress reliving</li>
				<li>Annealing</li>
				<li>Hardening</li>
				<li>Water quenching</li>
				<li>Forced Air quenching</li>
				<li>Tempering</li>
			</ul>
		</div>
	</div>
</template>
