<template name="HeatTreatment">
	<div class="heat-treatment row">
		<div class="col-md-6 col-md-offset-3 profile">
			<div>
				<h2 class='title-content-page'>{{subsection_name}}</h2>
			</div>
			<div class='carousel'>
				{{#each images}}
				<img src='/profile/{{add_ subsection_name}}/{{math @index "+" 1}}.jpg'>
				{{/each}}
			</div>
			<div>
				<div class='lead'>
					Heat treating is a group of industrial and metalworking processes used to alter the physical, 
					and sometimes chemical, properties of a material. The most common application is metallurgical. 
					Heat treatment involves the use of heating or chilling, normally to extreme temperatures, to 
					achieve a desired result such as hardening or softening of a material. Heat treatment techniques 
					include annealing, case hardening, precipitation strengthening, tempering and quenching.
				</div>
				<div>
					MEBA has the following capabilities for the various heat treatment processes:<br><br>
					<ol>
						<li>500 Kg. Capacity: 2 Furnaces </li>
						<li>1500 Kg. Capacity: 2 Furnaces </li>
						<li>2000 Kg capacity : 1 bogie hearth</li>
						<li>3000 Kg. Capacity: 1 Furnace </li>
						<li>Fully automatic (loading / unloading / quenching) </li>
						<li>Chart Recorder (with programmable temperature controller for heat treatment cycle) </li>
					</ol>

					<h4>Processes</h4>
					<ul>
						<li>Stress reliving</li>
						<li>Annealing</li>
						<li>Hardening</li>
						<li>Water quenching</li>
						<li>Forced Air quenching</li>
						<li>Tempering</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</template>
