/*****************************************************************************/
/* main: Style */
/*****************************************************************************/
$ss: 520px;

body {
	font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
}



form {
	input, textarea {
		display: block;
		padding: 0.5em;
		margin: 1em 0;
		width: 100%;
	}
}

.main-page {
	height: 100vh;
}

.main {
}

.lead {
    color: grey;
    padding-top: 1em;
	font-size: 1.33em;
}

.content {
}

.cont {
	padding: 1em;
}

.cont-trans {
	@extend .cont;
	background-color: white;
	opacity: 0.5;
	color: black;
}

//.container-fluid {
//	padding: 0;
//}

.title-capital {
	text-transform: uppercase;
	letter-spacing: 4px;
	margin: 0 0 1em 0;
}

.title-content-page {
	@extend .title-capital;
	margin: 0.5em 0 1em 0;
	color: silver;
	font-size: 4em;
	text-align: center;
}

@media only screen and (max-width: $ss) {
   .title-content-page { 
	   font-size: 2em !important;
	   line-height: 1.314em;
   }
	.nav-links-container {
		padding: 1em;
		div {
			display: block !important;
		}
	}
}

.p1 {
	padding: 1em;
}

//vertical padding
.p1v {
	padding: 1em 0;
}

.p2 {
	padding: 2em;
}

.profile {
	margin-bottom: 125px;
}

//All tables
table {
	width: 100%;
	td {
		vertical-align: top;
		padding: 0.5em;
		border-top: silver dashed 1px;
	}
	.leadtd {
		font-weight: bold;
	}
}

.pdfs {
	padding: 0.5em 1em;
	a {
		color: white;
		margin-right: 1em;
		&:hover {
			color: silver;
		};
	}
}

.list {
	.fa {
		margin: 0 1em;
	}
}

.page-container {
	margin-bottom: 150px;
}

.footer {
	text-align: center;
	color: silver;
	padding: 1em;
//	text-transform: uppercase;
	font-size: 0.7	5em;
}
	
