/*****************************************************************************/
/* main: Style */
/*****************************************************************************/
$ss: 520px;

body {
	font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
}

.main {
}

.lead {
    color: grey;
    padding-top: 1em;
	font-size: 1.33em;
}

.content {
}

.cont {
	padding: 1em;
}

.cont-trans {
	@extend .cont;
	background-color: white;
	opacity: 0.5;
	color: black;
}

.title-capital {
	text-transform: uppercase;
	letter-spacing: 4px;
	margin: 0 0 1em 0;
}

.title-content-page {
	@extend .title-capital;
	margin: 1em 0 1em 0;
	color: silver;
	font-size: 4em;
	text-align: center;
}

@media only screen and (max-width: $ss) {
   .title-content-page { 
	   font-size: 2em !important;
	   line-height: 1.314em;
   }
	.nav-links-container {
		padding: 1em;
	}
}

.p1 {
	padding: 1em;
}

//vertical padding
.p1v {
	padding: 1em 0;
}

.p2 {
	padding: 2em;
}