<template name="MachineShop">
	<div class="machine-shop row">
		<div class="col-md-6 col-md-offset-3 profile">
			<div>
				<h2 class='title-content-page'>{{subsection_name}}</h2>
			</div>
			<div class='carousel'>
				{{#each images}}
				<img src='/profile/{{add_ subsection_name}}/{{math @index "+" 1}}.jpg'>
				{{/each}}
			</div>
			<div>
				A machine shop is a facility with equipment and supplies for machining, a process where parts are cut, 
				fabricated, and finished to prepare them for use. Machine shops are used in the creation of new parts, 
				as well as repairs of existing equipment and parts. <br><br>

				We have following equipment and machines available at our machine shop:<br><br>

				<ol>
					<li>C.N.C. Machining Centres</li>
					<li>Vertical Machine Centre (VMC)</li>
					<li>VERTICAL MACHINING CENTER WITH 4TH AXIS</li>
					<li>CENTER LATHE MACHINE</li>
					<li>RADIAL DRILLING MACHINE  </li>
					<li>CNC TURNING CENTER</li>
					<li>Turn Mill Center</li>
					<li>2x Rossini –Threading and Multi-station Transfer Machine</li>
					<li>Conventional Milling</li>
					<li>Trimming process</li>
					<li>Radial Drill Machine</li>
					<li>Gang Drills</li>
					<li>Surface Grinding</li>
					<li> Center Lathe Machine</li>
				</ol>
			</div>
		</div>
	</div>
</template>
