<template name="MachineShop">
	<div class="machine-shop">
		<div class="col-md-6 col-md-offset-3">
			<div>
				<h2 class='title-content-page'>{{subsection_name}}</h2>
			</div>
			<div class='carousel'>
				{{#each images}}
					<img src='/profile/{{add_ subsection_name}}/{{math @index "+" 1}}.jpg'>
				{{/each}}
			</div>
			<div>
				A machine shop is a facility with equipment and supplies for machining, a process where parts are cut, 
				fabricated, and finished to prepare them for use. Machine shops are used in the creation of new parts, 
				as well as repairs of existing equipment and parts. <br><br>

				We have following equipment and machines available at our machine shop:<br><br>

				1. C.N.C. Machining Centres<br>
				2. Vertical Machine Centre (VMC)<br>
				3. Turn Mill Center<br>
				4. 2x Rossini –Threading and Multi-station Transfer Machine<br>
				5. Conventional Milling<br>
				6. Trimming process<br>
				7. Radial Drill Machine<br>
				8. Gang Drills<br>
				9. Surface Grinding<br>
				10. Center Lathe Machine<br>
			</div>
		</div>
	</div>
</template>
